<div class="container-fluid">
  <div class="row">
    <div class="col">
      <button (click)="onDismiss();" class="float-right" mat-icon-button aria-label="Fechar">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <h1>Sobre</h1>
      <p>
        Projeto desenvolvido com intuitos puramente acadêmicos, por <a href="https://github.com/marcos-vcs" target="_blank">Marcos Sousa</a> e <a href="https://github.com/SamStalschus" target="_blank">Samuel Stalschus</a> visando de forma prática apresentar um estudo relacionado a APIs REST, demonstrar as operações de criação, visualização, exclusão e edição(CRUD) em uma arquitetura de back-end e front-end em um exemplo de aplicação do conceito em formato de uma aplicação web de gestão de contatos.
      </p>
    </div>
  </div>
</div>
