.menu-spacer {
  flex: 1 1 auto;
}
#toolbar-bg{
  background-image: radial-gradient( circle farthest-corner at 92.3% 71.5%,  rgba(134,231,214,1) 0%, rgba(83,138,214,1) 90% );
  color: #fff;
}
.open-sans {
  font-family: 'Open Sans', sans-serif;
}
.pattern-font{
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}
