<div style="height: 80vh;">
  <mat-toolbar color="basic"  id="toolbar-bg">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>
        <img src="../../../assets/calendario.png" alt="best property" width="50vw">
        <span class="pattern-font font-weight-bold ml-3 ">Minha agenda</span>
      </span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <div>

          <button class="mr-3 open-sans" (click)="creationModal();" mat-raised-button color="basic" style="font-weight: 600;">Novo contato</button>

          <button class="mr-3 open-sans" [routerLink]="['/about']" mat-raised-button color="basic" style="font-weight: 600;">Sobre o projeto</button>

        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <div>
          <button class="my-3 open-sans w-100" [routerLink]="['/home']" mat-raised-button color="basic" style="font-weight: 600;">Novo contato</button>
        </div>
        <div>
          <button class="open-sans w-100" [routerLink]="['/about']" mat-raised-button color="basic" style="font-weight: 600;">Sobre o projeto</button>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>

              <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
