table {
  width: 100%;

}
table td{
  padding: 5px 10px;
}
table tr{
  transition: 0.3s;
}
table tr:first-child:hover{
  background-color: #f2f2f2;
  color: #000;
}
table tr:hover{
  cursor: pointer;
  background-color: #f2f2f2;
}

#not-found{
  color: rgb(66, 66, 66);
  padding: 30px;
  margin-bottom: 20px;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  margin: auto;
  text-align: center;
  font-size: 27px;
  font-weight: 600;
}

.btn-active{
  background-color: #005ca7;
  color: rgb(255, 255, 255);
}
.btn-active:hover{
  background-color: #7a7a7a;
  color: rgb(255, 255, 255);
}

